.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: var(--mantine-color-myColor-filled);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  .logo {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    display: flex;
    padding-right: var(--mantine-spacing-sm);
  }

  .search {
    flex: 4;
    display: flex;
    justify-content: center;
  }

  .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-left: var(--mantine-spacing-sm);
  }
}

.movie-list {
  .mantine-Carousel-controls {
    [data-inactive] {
      opacity: 0;
      cursor: default;
    }
  }
}

.movie-card {
  cursor: pointer;
  @mixin hover {
    filter: brightness(0.8);
    transform: scale(0.95);
    transition: filter 0.3s;
    transition: transform 0.2s;
  }
}
