.header {
  background-color: var(--mantine-color);
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .logo {
    flex: 1;
    padding-left: var(--mantine-spacing-md);
  }

  .search {
    flex: 2;
    display: flex;
    justify-content: center;
  }

  .actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.movie-list {
  .mantine-Carousel-container {
    padding: 1rem;
  }

  .mantine-Carousel-controls {
    [data-inactive] {
      opacity: 0;
      cursor: default;
    }
  }
}

.movie-card {
  cursor: pointer;
  @mixin hover {
    filter: brightness(0.8);
    transform: scale(1.05);
    transition: filter 0.3s;
    transition: transform 0.2s;
  }
}
